<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
  <!-- Add a ligth to dark gradient. -->
  <div style="margin:50px auto;width:70%;padding:20px 0;">
    <div style="border-bottom:1px solid #eee">
      <h2 style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">Galam Technologies Email
        Validation</h2>
    </div>
    <p style="font-size:1.1em">Hi,</p>
    <p>Thank you for signing up for GTSocial Project. The enclosed OTP is valid for 5 minutes</p>
    <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">
      {{OTP}}</h2><b>
      <p style="font-size:0.9em;">Regards,<br />Vishwa Mithra <br>

    </b>
    <div style="color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
      <p>Galam Technologies Private Limited</p>
      <a href="https://galam.in/products/GTSocial">
        <p>
          GT-Social
        </p>
      </a>
    </div>
    </p>
  </div>
</div>