<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8SBQYQ7F7D"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-8SBQYQ7F7D');
    </script>
    <!-- End of Google tag (gtag.js) -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}">
    <script src="{{ url_for('static',filename='js/jquery.js')}}"></script>
    <script type="text/javascript">
        var csrf_token = "{{ csrf_token() }}";
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {

                // if (!/^(GET|HEAD|OPTIONS|TRACE|POST|DELETE)$/i.test(settings.type) && !this.crossDomain) {
                console.log(csrf_token);
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
                // }
            }
        });
        // Set the header for form data posting

    </script>
    <title>Email - Verification</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',filename='favicons/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='favicons/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='favicons/favicon-16x16.png')}}">
    <link rel="manifest" href="{{ url_for('static',filename='favicons/site.webmanifest')}}">
</head>

<body class="theme-dark_theme">

    <section class="min-h-screen flex items-stretch text-white ">
        <div class="lg:flex w-1/2 hidden bg-gray-500 bg-no-repeat bg-cover relative items-center"
            style="background-image:url({{ url_for('static',filename='images/registration.gif')}})">
            <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
            <div class="w-full px-24 z-10">
                <h1 class="text-5xl font-bold text-left tracking-wide">Securely Login into <br> Galam </h1>
                <p class="text-3xl my-4">Let's be vocal for better governance!</p>
                <p class="text-sm my-4">Version 1.0</p>
            </div>

        </div>
        <div class=" fixed w-full   z-20   mt-2  text-center ">
            <span id="status" class="hidden animate-pulse text-center  font-bold  p-2 bg-red-700 rounded">
                Invalid OTP
            </span>
        </div>
        <div class="lg:w-1/2 w-full flex items-center justify-center text-center md:px-16 px-0 z-0"
            style="background-color: #161616; ">

            <div class="absolute lg:hidden z-10 inset-0 bg-gray-500 bg-no-repeat bg-cover items-center" style="">
                <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
            </div>

            <div class="w-full py-6 z-20">

                <h4 class="my-6 text-2xl text-center text-yellow-500 font-bold">
                    Email verification is an important step to identify you
                </h4>
                <p class="text-gray-100 font-bold text-xl">
                    Enter the OTP sent to your email
                </p>
                <p class="text-gray-100 mb-4 text-sm">
                    Tip: Press Tab to move to next input <br>
                    Note: The OTP is valid for 5 minutes only
                </p>



                <form id="Verify_Email" action="{{url_for('email_only_otp_verification')}}"
                    enctype="multipart/form-data" class="sm:w-2/3 w-full px-4 lg:px-0 mx-auto" method="post">
                    <div class="flex flex-row flex-wrap mt-2 justify-center items-center text-black">
                        <input required type="text" name="Field1"
                            class="w-12 h-12 mr-2 p-2 text-center border rounded-lg" maxlength="1" />
                        <input required type="text" name="Field2"
                            class="w-12 h-12 mr-2 p-2 text-center border rounded-lg" maxlength="1" />
                        <input required type="text" name="Field3"
                            class="w-12 h-12 mr-2 p-2 text-center border rounded-lg" maxlength="1" />
                        <input required type="text" name="Field4"
                            class="w-12 h-12 mr-2 p-2 text-center border rounded-lg" maxlength="1" />
                        {% if verification_type == 'reset_password' %}

                        <div class="p-2" id="password_reset">
                            <input required type="password" name="new_password" placeholder="New Password" id="password"
                                class="w-48 p-4 text-lg rounded-md bg-gray-800 text-white font-bold focus:outline-none"
                                minlength="4" />
                        </div>
                        {% endif %}
                    </div>

                    <!-- In jinja if {{verification_type}} is reset_password, show an input for new password. -->
                    <!-- {% if verification_type == 'reset_password' %} -->

                    <!-- {% endif %} -->
                    <!-- <div id="status" class="">
                    </div> -->
                    <div class="px-4 pb-2 pt-4">
                        <button id="form_submitter" type="submit"
                            class="uppercase block w-full p-4 text-lg rounded-full bg-gray-800 hover:bg-gray-900 hover:text-yellow-500 font-bold focus:outline-none">Verify
                            and go to Login</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script src="{{ url_for('static', filename='js/CryptoJS.js') }}"></script>
    <script>
        // On click of field1 or field2 or field3 or field4, focus on the next field.
        let fields = [$('input[name="Field1"]'), $('input[name="Field2"]'), $('input[name="Field3"]'), $('input[name="Field4"]'), $('input[name="new_password"]')];
        fields.forEach((field, index) => {
            field.on('input', function (e) {
                if (field.val().length == 1) {
                    if (index < 3) {
                        fields[index + 1].focus();
                    }
                }
            });
        });

        // Submit the form data using ajax.
        $('#form_submitter').click(function (e) {
            e.preventDefault();
            let forms = document.getElementById('Verify_Email');
            let k1 = forms.checkValidity();
            let verification_type = "{{verification_type}}";
            var hash;

            if (!k1) {
                forms.reportValidity();
                return;
            }
            if (verification_type == 'reset_password') {
                hash = CryptoJS.SHA256($('#password').val());
                $('#password').val(hash);
            }
            // Create a new form input named user_email with value being {{user_email}}. Add it to the form.
            let user_email = "{{user_email}}";
            let user_email_input = document.createElement('input');
            user_email_input.setAttribute('type', 'hidden');
            user_email_input.setAttribute('name', 'user_email');
            user_email_input.setAttribute('value', user_email);

            let verification_type_input = document.createElement('input');
            verification_type_input.setAttribute('type', 'hidden');
            verification_type_input.setAttribute('name', 'verification_type');
            verification_type_input.setAttribute('value', verification_type);
            forms.appendChild(verification_type_input);
            forms.appendChild(user_email_input);
            let status_message = "Verifying OTP...";
            $('#status').text(status_message);
            $('#status').removeClass('hidden');
            $.ajax({
                url: "{{url_for('email_only_otp_verification')}}",
                type: "POST",
                data: $('#Verify_Email').serialize(),
                success: function (response) {
                    console.log(response);

                    window.location.href = "{{url_for('login_webpage2')}}";
                },
                error: function (error) {
                    console.log(error);
                    // Remove the user_email input from the form.
                    forms.removeChild(user_email_input);
                    let error_message = "The OTP is invalid. Please try again.";
                    $('#status').text(error_message);
                    // Show the status div.for 3 seconds.
                    setTimeout(function () {
                        $('#status').removeClass('hidden');
                    }, 100)
                    setTimeout(function () {
                        $('#status').addClass('hidden');
                    }, 4000)
                }
            });
        });
    </script>
</body>

</html