<html lang="en" class="dark">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8SBQYQ7F7D"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-8SBQYQ7F7D');
    </script>
    <!-- End of Google tag (gtag.js) -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circle Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom_webpacks.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}"> -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',filename='favicons/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='favicons/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='favicons/favicon-16x16.png')}}">
    <link rel="manifest" href="{{ url_for('static',filename='favicons/site.webmanifest')}}">




    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/genericalls.js') }}"></script>
    <script src="{{ url_for('static', filename='js/floating_dialogue.js') }}"></script>
    <script src="{{ url_for('static', filename='js/circles_controlboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/topnavbar.js') }}"></script>

    <script type="text/javascript">
        var csrf_token = "{{ csrf_token() }}";
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                // if (!/^(GET|HEAD|OPTIONS|TRACE|POST|DELETE)$/i.test(settings.type) && !this.crossDomain) {
                console.log(csrf_token);
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
                // }
            }
        });
    </script>
</head>

<body class="bg-black h-full w-full theme-dark_theme dark:bg-gray-100">

    <section id="Top_Logo_Bar_Section"
        class="fixed dark:bg-white dark:shadow-lg bg-black w-full h-11 z-50 pr-2 md:pr-0"> <!-- Top_Logo_Bar -->
        <div class="">
            <div class="w-full h-full flex justify-between md:justify-center items-center ">
                <div class="hidden">
                    <img src="{{ url_for('static', filename='images/themes.png') }}" alt="Logo"
                        class="h-10 w-10 cursor-pointer p-1 mr-2 hover:bg-gray-700">
                </div>
                <a href="/home">
                    <div>
                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"
                            class="h-10 w-10 cursor-pointer p-1 mr-2 hover:bg-gray-700 dark:hover:bg-gray-200">
                    </div>
                </a>

                <div class="hidden md:flex lg:flex flex-row">
                    <input type="text" name="SearchBar" id="SearchBar" disabled="true"
                        class="w-96 h-10 rounded-md p-2 outline-none bg-gray-800 text-gray-200 border border-red-500 dark:bg-white dark:text-black"
                        placeholder="Search...">
                    <div id="SearchBarHolder" class="fixed w-96">

                    </div>

                    <div>
                        <button
                            class="text-gray-200 p-2 rounded-md font-semibold hover:text-white ml-1 dark:text-black dark:hover:bg-gray-200"
                            onclick="new meta_hooks().hook_for_editor()">Post +</button>
                    </div>
                </div>

                <a href="/circles">
                    <div>

                        <img src="{{ url_for('static', filename='images/circles.png') }}" alt="Logo"
                            class="h-10 w-10 cursor-pointer p-2 ml-2 hover:bg-gray-700 dark:hover:bg-gray-200">

                    </div>
                </a>
                <div id="notice_cards">
                    <span id="notification_count"
                        class="bg-yellow-700 fixed rounded-full text-white text-xs font-bold p-1 ml-1 hidden ">0</span>
                    <span id="notification_wrapper">
                        <img id="notification_image" src="{{ url_for('static', filename='images/nonotification.png') }}"
                            alt="Logo"
                            class="h-10 w-10 cursor-pointer p-2 ml-1 hover:bg-gray-700 dark:hover:bg-gray-200">
                    </span>
                    <div id="Notifications_go_her" class="fixed">


                    </div>

                </div>
                <div id="profile_wrapper" class="ml-1">
                    <img id="profile_Button" src="{{ url_for('static', filename='images/profile.png') }}" alt="Logo"
                        class="h-10 w-10 cursor-pointer p-0  hover:bg-gray-700 dark:hover:bg-gray-200 ">
                    <!-- The drop down needs to align to the left of the parent after removing -->
                    <div class="fixed">
                        <div id="profile_Dropdown"
                            class="hidden flex flex-col bg-black relative right-12 dark:bg-white dark:shadow-lg">

                            <a href="/profile"
                                class="p-2 hover:border-green-500 border-t-2 border-gray-600 dark:hover:bg-gray-200">
                                <span id="Profile"
                                    class="font-semibold text-base text-center dark:text-black text-gray-200 cursor-pointer whitespace-nowrap">My
                                    Profile</span>
                            </a>
                            <span id="logout_Button"
                                class=" font-semibold text-base dark:hover:bg-gray-200 text-red-600 hover:border-red-700 p-2 border-t-2 border-gray-600 cursor-pointer">Log-out</span>
                            <div class="flex p-2 border-t-2 border-gray-600 text-black bg-white hover:bg-gray-200 hover:border-white dark:hover:border-black flex-row cursor-pointer font-semibold dark:hover:bg-gray-900 dark:bg-black dark:text-white"
                                id="switch_theme" data-current_mode="light">
                                <img src="{{ url_for('static', filename='images/themes.png') }}" alt="Logo"
                                    class="h-6 w-6">
                                Switch Theme
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- End of Top_Logo_Bar -->



    <section id="Three_Division_Section" class="w-full flex justify-center h-full pt-12">

        <div id="content_board"
            class="w-full md:w-8/12 h-full bg-gray-800 overflow-y-auto dark:bg-white dark:shadow-lg">

        </div>

        <div id="control_board"
            class="hidden fixed z-30 w-11/12 pb-20 md:pb-0 bg-gray-900 md:static md:block lg:block lg:w-2/12 md:w-2/12 md:ml-2 h-full dark:bg-white dark:shadow-lg rounded-md p-2 overflow-y-auto">

            <div>
                <button id="Manage_circle"
                    class="bg-gray-900 text-white w-full h-10 rounded-md hover:bg-gray-800 border-b-2 border-gray-700 font-semibold dark:bg-white dark:text-black dark:shadow-lg dark:hover:bg-gray-200">My
                    Circles</button>
            </div>
            <div>
                <button id="create_circle"
                    class="bg-gray-900 text-white w-full h-10 rounded-md hover:bg-gray-800 border-b-2 border-gray-700 font-semibold dark:bg-white dark:text-black dark:shadow-lg dark:hover:bg-gray-200">Create
                    Circle</button>
            </div>
            <div>
                <button id="join_circle"
                    class="bg-gray-900 text-white w-full h-10 rounded-md hover:bg-gray-800 border-b-2 border-gray-700 font-semibold dark:bg-white dark:text-black dark:shadow-lg dark:hover:bg-gray-200">Join
                    Circle</button>
            </div>
            <!-- <div>
            <button id="leave_circle" class="bg-gray-900 text-gray-200 w-full h-10 rounded-md hover:bg-gray-800 border-b-2 border-gray-700">Leave Circle</button>
        </div> -->

            <section class=""> <!-- Circle Options Sections-->
                <div class="w-full bg-gray-900 mt-4 flex flex-col dark:bg-white dark:shadow-lg">
                    <div class="text-xl font-bold text-yellow-300 text-center w-full border-b-2 border-yellow-200 p-2">
                        Options </div>
                    <div id="Circle_Creation_Options"
                        class="w-full flex flex-row font-bold flex-wrap p-2 justify-between overflow-auto h-96">
                    </div>
                </div>
            </section>


        </div>

    </section> <!-- End of Three Division Section -->


    <section id="Bottom_Logo_Bar_Section"
        class="fixed bottom-0 dark:bg-white dark:shadow-lg dark:border-t-2 dark:border-gray-200 bg-black w-full h-11 md:hidden z-50">

        <!-- Top_Logo_Bar -->
        <div class="">
            <div class="w-full h-full flex justify-between md:justify-center items-center pl-4 pr-4 pb-2">
                <div class="ml-auto float-right"
                    onclick="new
                    general_circle_control_tools_meta_funcitons().mobile_drag_left_menu_into_view('#control_board','right');">
                    <span class="text-3xl text-yellow-400 hover:text-yellow-600"> ☰</span>
                </div>
            </div>
        </div>
    </section> <!-- End of Top_Logo_Bar -->










</body>

</html>